# IAM API key to access IBM Cloud
export TF_VAR_ibmcloud_api_key=YOUR_API_KEY

# existing resource group name
# use "ibmcloud resource groups" to retrieve existing groups
export TF_VAR_resource_group_name=Default

# prefix used to name resources
export TF_VAR_basename=squid

# where to deploy resources
export TF_VAR_region=us-south

# name of an existing VPC SSH key
export TF_VAR_ssh_key_name=YOUR_EXISTING_SSHKEY
